.sliderItemHeight {
    width: 75px;
    height: 18px;
    align-self: center;
    margin: 1px 5px;
}

TreeView .unity-scroll-view__vertical-scroller {
    width: 14px;
}

TreeView .unity-scroll-view__horizontal-scroller {
    height: 14px;
}
