Vector3Field Label {
    min-width: 30px;
    -unity-text-align: middle-right;
}

Vector3Field FloatField {
    flex-basis: 1;
    min-width: 75px;
}

Vector3Field FloatInput {
    -unity-text-align: middle-right;
}
