
[*.cs]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = all

# ReSharper properties
resharper_blank_lines_after_control_transfer_statements = 0
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_around_single_line_auto_property = 1
resharper_blank_lines_before_block_statements = 1
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_case_block_braces = next_line
resharper_csharp_int_align_comments = true
resharper_csharp_max_line_length = 180
resharper_int_align_assignments = true
resharper_int_align_fields = true
resharper_int_align_invocations = true
resharper_int_align_switch_expressions = true
resharper_int_align_variables = true
resharper_keep_existing_embedded_arrangement = false
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_xmldoc_max_line_length = 180

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.ide0079.severity = none
